<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sentry Debug Page</title>
  </head>
  <body>
    <p>This page sends a test error to our <a href="https://sentry.io/">Sentry</a> account for debug purposes. If you got here, please do not spam this page. This is for internal testing usage ONLY.</p>
  </body>
</html>
